288873db70839632b560514eab1a2109bc0bac12.zip
system/system/app/Chrome/Chrome.apk
system/system/priv-app/GmsCore/oat/arm/GmsCore.odex
system/system/priv-app/GmsCore/oat/arm64/GmsCore.odex
system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/Velvet/oat/arm64/Velvet.odex
